@import '../../../styles.scss';

.container-fluid {
  @include background;

  .container {
    max-width: 900px;
    height: calc(100vh - 250px);
    min-height: 400px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);
    overflow: auto;

    form {
      max-width: 500px;
      background-color: rgba(0,0,0,0.5);
      border-radius: 10px;
      box-shadow: 0 0 12px white;

      label {
        color: white;
      }

      textarea {
        white-space: 'pre-wrap';
      }

      input[type="submit"],
      button {
        @include button;
      }
    }
  }
}
