@import '../../../styles.scss';

.container-fluid {
  @include background;

  .heading {
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
  }

  .sign-in-options {
    max-width: 450px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);

    button {
      @include button;
    }
  }
  .dark-cover {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0,0,0,0.6);
  }
}
