@import '../../../styles.scss';

.container-fluid {
  @include background;

  .container {
    max-width: 900px;
    height: calc(100vh - 250px);
    min-height: 500px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);
    position: relative;

    .notes-list {
      overflow: auto;
      height: 100%;

      .note {
        background-color: rgba(255,255,255,0.6);
        max-width: 600px;
        border-radius: 5px;
        box-shadow: 0 0 12px #333;
        transition: 0.4s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          background-color: rgba(255,255,255,0.9);
          box-shadow: 0 0 16px #000;
        }

        p {
          white-space: pre-wrap;
          text-align: justify;
        }

        .footer {
          display: flex;
          align-items: flex-end;

          i {
            font-size: 25px;
            margin: 5px;
            transition: 0.4s;

            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .add-note-btn {
      position: absolute;
      bottom: 20px;
      left: 20px;
      padding: 20px;
      font-size: 30px;
      border-radius: 50%;
      box-shadow: 0 0 6px white;
      background-color: rgba(0,0,0,0.5);
      color: white;
      transition: 0.4s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    .dark-cover {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
